<toaster-container></toaster-container>
<div class="container-fluid">
  <div class="card-deck">
    <ngx-loading [show]="loading"></ngx-loading>
    <div class="card border-primary">
      <div class="card-header text-center text-primary">
        <a data-toggle="collapse" href="#collapse-amparos" aria-expanded="true" aria-controls="collapse-amparos"
          id="heading-amparos" class="d-block">
          <i class="fa fa-chevron-down pull-right"></i>
          <b class="text-primary">Información de la Maquina</b>
        </a>
      </div>
      <div id="collapse-amparos" class="collapse show" aria-labelledby="heading-amparos">
        <div class="card-body">
          <div class="form-row" *ngIf="machineModel !== undefined">
            <div class="form-group col-md-12">
              <div class="form-group row">
                <label for="id" class="col-sm-2 col-form-label">Id</label>
                <div class="col-sm-10">
                  <input type="text" readonly class="form-control" id="id" [(ngModel)]="machineModel.id" readonly>
                </div>
              </div>
              <div class="form-group row">
                <label for="isTraining" class="col-sm-2 col-form-label">Is Training</label>
                <div class="col-sm-10">
                  <input type="text" readonly class="form-control" id="isTraining" readonly
                    [(ngModel)]="machineModel.isTraining">
                </div>
              </div>
              <div class="form-group row">
                <label for="lastUpdate" class="col-sm-2 col-form-label">Last Update</label>
                <div class="col-sm-10">
                  <input type="text" readonly class="form-control" id="lastUpdate" readonly
                    [(ngModel)]="machineModel.lastUpdate">
                </div>
              </div>
              <div class="form-group row">
                <label for="cid" class="col-sm-2 col-form-label">Cid</label>
                <div class="col-sm-10">
                  <input type="text" readonly class="form-control" id="cid" [(ngModel)]="machineModel.cid" readonly>
                </div>
              </div>
            </div>
            <ngx-treeview [config]="treeViewConfig"  
              [items]="treeViewItems"
              (selectedChange)="onSelectedChange($event)"
              (filterChange)="onFilterChange($event)">
            </ngx-treeview>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>