<toaster-container></toaster-container>
<div class="container-fluid">
  <div class="card-deck">
    <ngx-loading [show]="loading"></ngx-loading>
    <div class="card border-primary">
      <div class="card-header text-center text-primary">
        <a data-toggle="collapse" href="#collapse-amparos" aria-expanded="true" aria-controls="collapse-amparos"
          id="heading-amparos" class="d-block">
          <i class="fa fa-chevron-down pull-right"></i>
          <b class="text-primary">Información de Seguridad</b>
        </a>
      </div>
      <div id="collapse-amparos" class="collapse show" aria-labelledby="heading-amparos">
        <div class="card-body">
          <div class="form-row" *ngIf="securityModel !== undefined">
            <div class="form-group col-md-12">
              <div class="form-group row">
                <label for="id" class="col-sm-2 col-form-label">Id</label>
                <div class="col-sm-10">
                  <input type="text" readonly class="form-control" id="id" [(ngModel)]="securityModel.id" readonly>
                </div>
              </div>
              <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                  <input type="text" readonly class="form-control" id="name" readonly [(ngModel)]="securityModel.name">
                </div>
              </div>
              <div class="form-group row">
                <label for="owner" class="col-sm-2 col-form-label">Owner</label>
                <div class="col-sm-10">
                  <input type="text" readonly class="form-control" id="owner" readonly
                    [(ngModel)]="securityModel.owner">
                </div>
              </div>
              <div class="form-group row">
                <label for="perms" class="col-sm-2 col-form-label">Perms</label>
                <div class="col-sm-10">
                  <input type="text" readonly class="form-control" id="perms" [(ngModel)]="securityModel.perms"
                    readonly>
                </div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="securityModel !== undefined">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Name</th>
                  <th scope="col">File</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of securityModel.autos">
                  <td scope="row">{{item.id}}</td>
                  <td scope="row">{{item.name}}</td>
                  <td scope="row">{{item.automation_file}}</td>
                  <td scope="row">
                    <button *ngIf="item.secure === '1'" class="btn btn-primary" type="submit"
                      (click)='GetAutoInformation(modalData, item.id)'>
                      Get Auto Information
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #modalData>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Data Obtenida</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Example textarea</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="dataAuto" readonly></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
  </div>
</ng-template>