<div class="container-fluid">
  <!-- Nav pills -->
  <ul class="nav nav-pills mb-3 sticky-top" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="pills-machine-tab" data-toggle="pill" href="#pills-machine" role="tab"
        aria-controls="pills-machine" aria-selected="true">Información Maquina</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-security-tab" data-toggle="pill" href="#pills-security" role="tab"
        aria-controls="pills-security" aria-selected="true">Seguridad</a>
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-machine" role="tabpanel" aria-labelledby="pills-machine-tab">
      <app-machine #machineComponent></app-machine>
    </div>
    <div class="tab-pane fade" id="pills-security" role="tabpanel" aria-labelledby="pills-security-tab">
      <app-security #securityComponent></app-security>
    </div>
  </div>